
*{
  margin: 0;
  padding:0;
}
.main-container{
.table-list {
    padding: 0 12px;
    background-color: #fff;
    height: calc(100% - 126px);
    .el-table {
      height: 442px;
     
      thead {
        th {
          background: #eeeff2;
          color: #333333;
          font-size: 12px;
          border-right: none;
          font-weight: bold;
          padding:6px 0;
          .cell{
            line-height: initial;
          }
        }
  
      }
  
      td {
        color: #333;
        font-size: 12px;
        border-right: none;
        height: 30px;
        padding: 0;
      }
      tr{
        td{
          &:last-child{
            &.is-center{
              .cell{
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
      tr:nth-child(even) {
        background: #fafafa
      }
      .el-table__body-wrapper {
        tr{
          &.el-table__row{
            td{
              &:last-child{
                .cell{
                  .el-button{
                    font-size: 12px;
                    color: #1a80ff;
                     margin: 0 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .btnLists{
      margin-bottom:12px;
      padding-top: 20px;
    }
  }
  .el-pagination{
    text-align: right;
   .el-select{
    width: auto;
    .el-input{
      height: 28px;
      line-height: 28px;
    }
  } 
  &.is-background {
    padding:0px 20px 18px;
    .el-pager{
      li{
        background-color: #fff;
        border: 1px solid #e8e8e8;
        color: #999;
        &:not(.disabled).active{
          background-color: #1a80ff;
          &:hover{
            color: #fff;
          }
        }
        &:hover{
          color: #1a80ff;
        }
      }
    }
  }
  &.position-pagination{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.block{
  padding: 0;
  background: #fff;
  .el-form{
    padding: 20px 30px 20px;   
    margin-bottom: 10px;
    .el-form-item{
      margin-bottom: 0;
      .el-form-item__label{
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        padding-right: 6px;
        line-height: 28px;
      }
      .el-form-item__content{
        line-height: 28px;
        .el-select{
          width: 200px !important;
          .el-input{
            width: 200px;
            height: 28px;
            .el-input__icon{
              line-height: 28px;
            }
          }
        }
        .el-input{
          height: 28px;
            line-height: 28px;
            width: 200px !important;
          input{
            width: 200px;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
          }
        }
        .vue-treeselect{
          width: 200px;
          height: 28px;
          .vue-treeselect__control{
            height: 28px;
            line-height: 28px;
            .vue-treeselect__placeholder{
              line-height: 26px;
              height: 26px;
              font-size: 12px;
            }
          }
        }
       
        
      }
      
    }
    .el-row{
      &.marginZero{
        .el-form-item{
          margin-bottom: 0;
        }
      }
      &.hasmarginBottom{
        .el-form-item{
          margin-bottom: 20px;
        }
      }
    }
    &.align-right{
      .el-form-item{
        .el-form-item__label{
          text-align: right;
        }
      }
    }
    &.has-Label-Width{
      .el-form-item{
        .el-form-item__label{
          padding-right: 0px;
        }
      }
    }
  }
}
.navbar{
  background-color: #fff;
}

.marginT20{
  margin-top: 20px;
}
.paddingTop12{
  padding-top: 12px;
}
.white{
  background: #fff;
}
}
.app-container{
 height: 100%;
}
.textAlignRight{
  text-align: right;
}
.el-button{
&.set-common-btn{
   border:1px solid rgb(26, 128, 255);
    border-radius: 4px;
    font-size: 12px;
    width: 72px;
    height: 28px;
    color: #fff;
    // letter-spacing:4px;
    padding: 0;
    
  &.blue-button{
    color: #fff;
    background-color: #1a80ff;
    &:hover{
      color: #fff;
    }
  }
  &.blank-blue-button{
    color: #1a80ff;
    background-color: #fff;
    &:hover{
      color: #1a80ff;
      border:1px solid rgb(26, 128, 255);
    }
  }
  
}
&.marginleft23{
  margin-left: 23px;
}
}
.font14{
  font-size: 14px;
}
.updateText {
  text-decoration: underline;
  cursor: pointer;
}