

.el-form-item {
  margin-bottom: 20px;
}

.flash-table-expand {
  font-size: 0;
}
/**列表上的查询位置的按钮*/
.listSearch   {
  float: right;
  padding-right: 10px
}
/***/
.formLable .el-form-item__label{
  padding: 0 0 0 0 ;
}
/**弹框的标题*/
.dialogTitle .el-dialog__title {
  font-size: 22px;
  color: #6e6b66;
}
/**弹框的标题背景*/
.dialogTitleBackground .el-dialog__header {
  background-color: #c0e1ff;
  border-radius: 5px 5px 0 0;
}

#myself{
  text-align: center;
}

#myself .el-form-item__content{
  margin: 0 !important;
}
.el-select {
  width: 200px;
}
.el-input{
  width: 200px;
  height: 35px;
  line-height: 35px;
}
.el-input>input{
  height: 35px;
  line-height: 35px;
}
.flash-table-expand {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.user {
  padding: 10px;
}

.user > strong {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

.user > small {
  color: #9E9E9E;
}

.user-content {
  box-shadow: 2px 2px 4px #edecec;
  min-height: 500px;
}

.user-content > .profile {
  background: #edecec;
  height: 500px;
  width: 220px;
}

.user-content > .profile > img {
  width: 100%;
}

.user-content > .profile > p {
  padding: 0 15px;
}

.el-form--inline .el-input{
  width: 200px;
  height: 35px;
}

/*.el-dialog-style .el-dialog__header{
  display: none;
}*/
/*.enterprise{
  visibility:visible
}*/
.el-dialog__body{
  padding: 0px 0px 20px;
}
// .app-container{
//   padding: 0px 30px;
// }
// .el-pagination.is-background{
//   padding: 20px 20px 0px;
//   margin-bottom: 5px;
// }
.el-textarea__inner{
  height: 100px;
}
.el-table.el-table--fit.el-table--border.el-table--enable-row-hover.el-table--enable-row-transition{
  height: 335px;
}
.el-input-style{
  width: 100px;
}
.el-input.el-pagination__editor.is-in-pagination{
  width: 80px;
}

.el-select-dropdown{
  min-width: 200px !important;
}
